:root {
  --main-font-color: hsl(35, 77%, 62%);
  --secondary-color: hsl(5, 85%, 63%);
  --default-font-family: "Inter", sans-serif;
}

.container {
  padding: 25px;
  margin: 0 auto;
  font-family: var(--default-font-family);
}

nav {
  font-weight: 400;
  font-family: var(--default-font-family);
  font-size: 14px;
  margin-top: 15px;
}
.nav-link {
  color: hsl(236, 13%, 42%);
}
.nav-link:hover {
  color: hsl(35, 77%, 62%);
}
.hero {
  margin-top: 15px;
}
img {
  max-width: 730px;
}
.second {
  margin-top: 15px;
}
h1 {
  font-family: var(--default-font-family);
  color: hsl(240, 100%, 5%);
  font-weight: 900;
  font-size: 55px;
}
button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  font-family: var(--default-font-family);
  color: hsl(36, 100%, 99%);
  font-weight: 100;
  font-size: 12px;
  padding: 10px 30px;
  border-style: none;
}
.vertical {
  display: block;
  background-color: hsl(240, 100%, 5%);
  margin: 0px 20px;
  padding: 25px 30px;
}
h3 {
  color: var(--main-font-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.2;
}
h4 {
  color: hsl(36, 100%, 99%);
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
.vertical p {
  color: hsl(233, 8%, 79%);
  font-size: 12px;
}
.bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--default-font-family);
}
.bottom img {
  max-width: 85px;
  margin-left: 3px;
}
.bottom h5 {
  color: hsl(233, 8%, 79%);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
.bottom h4 {
  color: hsl(240, 100%, 5%);
  font-size: 16px;
}
.bottom p {
  color: hsl(236, 13%, 42%);
  font-size: 14px;
}
