:root {
  --main-font-color: black;
  --heading-font-family: "Dancing Script", cursive;
  --default-font-family: "M PLUS Rounded 1c", sans-serif;
}

.container {
  margin: 0 auto;
  font-family: var(--default-font-family);
}

ul {
  font-weight: 400;
  padding: 20px;
}
.nav-link {
  color: hsl(233, 8%, 79%);
}
.nav-link:hover {
  color: hsl(35, 77%, 62%);
}
